
.divSearch {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    margin-top: 15px;
}

.search {
   border: 2px solid black;
   border-radius: 15px;
   padding: 5px;
   font-weight: bold;
   background-color: rgba(234, 0, 255, 0.6);
   width: 80px;
}